:host ::ng-deep .subtitles {
	gap: 0 !important;
}

.local-content {
	.map-container {
		margin-bottom: 30px;
		border-radius: 8px;
		overflow: hidden;

		iframe {
			display: block;
		}
	}

	.open-maps-btn {
		width: 100%;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}

@media (max-width: 768px) {
	.local-content {
		.map-container {
			iframe {
				height: 300px;
			}
		}
	}
}