<app-section
	sectionId="local"
	sectionNumber="03"
	sectionLabel="O LOCAL"
	sectionClass="local"
	[title]="venueName"
	[subtitle]="[address, city]"
>
	<div class="local-content">
		<div
			class="map"
			appScrollReveal
			[revealDelayMin]="140"
			[revealDelayMax]="500"
			[revealOnce]="false"
		>
			<div #mapContainer></div>
		</div>

		<button
			class="open-maps-btn action--primary"
			(click)="openInMaps()"
			appScrollReveal
			[revealDelayMin]="160"
			[revealDelayMax]="540"
			[revealOnce]="false"
		>
			<span class="material-symbols-rounded">map_pin_heart</span> Abrir no Maps
		</button>
	</div>
</app-section>