.footer {
  padding: 20px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: end;
  scroll-snap-stop: always;
}

.footer-logo {
  width: 85px;
    height: 85px;
  object-fit: contain;
}
