.save-the-date {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
  
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .save-the-date-logo {
    width: 100%;
    height: auto;
    max-width: 720px;
    clip-path: inset(4% 4% 4% 4%);
  }
}

@media (max-width: 768px) {
  .save-the-date {
    .save-the-date-logo {
      max-width: 520px;
    }
  }
}
