<app-section
	sectionId="flash-tattoo"
	sectionNumber="03"
	sectionLabel="FLASH TATTOO"
	sectionClass="flash-tattoo"
	[title]="'Tatuagem Flash'"
	[subtitle]="description"
>
	<div class="tattoo-content">
		<div
			class="pinterest-card"
			appScrollReveal
			[revealDelayMin]="180"
			[revealDelayMax]="580"
			[revealOnce]="false"
		>
			<span class="text-label">Inspirações</span>
			<div
				class="pinterest-embed"
				id="pinterest-embed"
			>
				<a
					title="Pinterest Board - Flash Tattoo Inspirations"
					data-pin-do="embedBoard"
					data-pin-board-width="880"
					data-pin-scale-height="200"
					data-pin-scale-width="80"
					[href]="pinterestBoardUrl"
				></a>
			</div>
		</div>

		<div
			class="info-box"
			appScrollReveal
			[revealDelayMin]="240"
			[revealDelayMax]="680"
			[revealOnce]="false"
		>
			<p>{{ flashAvisos }}</p>
		</div>
	</div>
</app-section>