<app-section
  sectionId="local"
  sectionNumber="03"
  sectionLabel="O LOCAL"
  sectionClass="local"
  [title]="venueName"
>
  <div class="local-content">
    <div class="address-info" appScrollReveal [revealDelayMin]="120" [revealDelayMax]="460" [revealOnce]="false">
      <p class="address">{{ address }}</p>
      <p class="city">{{ city }}</p>
      <p class="cep">CEP: {{ cep }}</p>
    </div>
    
    <div class="map-container" appScrollReveal [revealDelayMin]="140" [revealDelayMax]="500" [revealOnce]="false">
      <iframe 
        [src]="mapUrl" 
        width="100%" 
        height="400" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
    
    <button class="open-maps-btn" (click)="openInMaps()" appScrollReveal [revealDelayMin]="160" [revealDelayMax]="540" [revealOnce]="false">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path d="M10 0C6.13 0 3 3.13 3 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" fill="currentColor"/>
      </svg>
      Abrir no Maps
    </button>
  </div>
</app-section>
