:host ::ng-deep span.ampersand {
	color: var(--color-action-ghost);
	font-style: italic;
}

.description {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 14px;
	color: var(--color-primary);
	font-weight: 300;
	text-align: center;
}

.observations {
	font-size: 10px !important;
	font-style: italic;
}

:host ::ng-deep .card-title {
	text-align: center;
}

:host ::ng-deep .card-shell {
	gap: 24px !important;
}

.leaf-decoration {
	position: absolute;
	top: 50px;
	right: -100px;
	width: 260px;
	height: auto;
	pointer-events: none;
	opacity: 0.85;
}

.details {
	display: flex;
	flex-direction: column;
	gap: 40px;

	.detail-item {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.detail-address {
		font-size: 14px;
		color: var(--color-primary);
		font-weight: 300;
	}
}

@media (max-width: 768px) {
	.couple-names {
		font-size: 36px;
	}

	.details {
		gap: 30px;
	}

	.action {
		width: 100%;
		flex-basis: 100%;
	}
}